body{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: all;
	margin: 0;
	padding: 0;
	background-color: lightseagreen;
}
header{
	background-color: darkgreen;
}
footer{
	background-color: darkgreen;
}
aside{
	background-color: darkgray;
}
main{
	background-color: brown;
}
aside:first-class{
	grid-area: left;
}
aside:last-class{
	grid-area: right;
}
