div.elements{
	margin: 2em;
	padding: 2em;
	border: 1em;
	border-color: seashell;
	width: 30em;
	background-color: rebeccapurple;
}
.elements1{
	box-sizing: content-box;
}
.elements2{
	box-sizing: border-box;
}
