html {
 box-sizing: border-box;
}

div{
	margin: 2em;
	padding: 2em;
	border: 1em;
	border-color: darkred;
	width: 30em;
	background-color: yellow;
}
.elements1{
	box-sizing: content-box;
}
.elements2{
	box-sizing: border-box;
}
